
/*****************/
/* Custom Fonts  */
/*****************/

/* Julius Sans One */

/* latin-ext */
@font-face {
  font-family: 'Julius Sans One';
  font-style: normal;
  font-weight: 400;
  src: local('Julius Sans One'), local('JuliusSansOne-Regular'), url(https://fonts.gstatic.com/s/juliussansone/v8/1Pt2g8TAX_SGgBGUi0tGOYEga5WOzHsXy6KHHow-.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Julius Sans One';
  font-style: normal;
  font-weight: 400;
  src: local('Julius Sans One'), local('JuliusSansOne-Regular'), url(https://fonts.gstatic.com/s/juliussansone/v8/1Pt2g8TAX_SGgBGUi0tGOYEga5WOwnsXy6KHHg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Libre Baskerville */

/* latin-ext */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url(https://fonts.gstatic.com/s/librebaskerville/v7/kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNXaxMaC82U-ro.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url(https://fonts.gstatic.com/s/librebaskerville/v7/kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNZaxMaC82U.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen Regular'), local('Oxygen-Regular'), url(https://fonts.gstatic.com/s/oxygen/v10/2sDfZG1Wl4LcnbuKgE0mRUe0A4Uc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen Regular'), local('Oxygen-Regular'), url(https://fonts.gstatic.com/s/oxygen/v10/2sDfZG1Wl4LcnbuKjk0mRUe0Aw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/***********/
/* General */
/***********/

body {
    overflow-x: hidden;
    font-family: 'Julius Sans One', sans-serif;
    padding: 0px;
    margin: 0px;
}

h1 {
    font-size: 3em;
    padding-right: 80px;
    padding-left: 80px;
}

header {
    width: 100%;
    text-align: center;
}

.stone-background {
    color: #fff;
    background-color: #5498ba;
    background-image: url(./backgrounds/contours.png), url(./backgrounds/gridlines.png), url(./backgrounds/stone.png);
    background-attachment: scroll, scroll, fixed;
    background-position: top left, top left, top left;
    background-repeat: repeat, repeat, no-repeat;
    background-size: auto, auto, 100% 100%;
}

a {
    color: #0095ff;
}

.stone-background a {
    color: #ffe09e;
}

.stone-background h3 {
    color: #fff;
}

header p {
    font-size: 1.5em;
}

.vertical-padding {
    padding-top: 20px;
    padding-bottom: 40px;
}

.horizontal-padding {
    margin-left: 40px;
    margin-right: 40px;
}

section {
    width: 100%;
}

h3 {
    padding-right: 80px;
    padding-left: 80px;
    margin: 2em 0px 0px 0px;
    color: #2e484c;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.8em;
    font-weight: normal;
    text-transform: uppercase;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p {
    padding-bottom: 30px;
    padding-right: 80px;
    padding-left: 80px;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 0.9em;
    margin: 0.75em 0;
    line-height: 2;
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

ul li {
    margin-left: 10vw;
}

/**********/
/* Footer */
/**********/

card p {
    padding: 0px;
}

card a {
    color: #fff;
    text-decoration: none;
}

.card-text {
    border: 0.1em solid #fff;
    border-radius: 15px;
    box-shadow: 0px 20px 20px -20px black;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    transition: backdrop-filter 0.5s, all 0.5s;
    backdrop-filter: grayscale(50%) brightness(80%);
}

.card-text:active {
    transform: translateY(10px);
    box-shadow: 0px 0px 0px 0px black;
}

.card-text:hover {
    backdrop-filter: grayscale(100%) brightness(40%);
}

#linear-result {
    text-align: -webkit-center;
}

/*************/
/* Accordion */
/*************/

.accordion-container {
    border: 1px solid rgba(0,0,0,0.25);
    box-shadow: 3px 3px 6px rgba(0,0,0,0.125);
    background: #fdfdfd;
    width: 80vw;
}

.accordion-label {
    transition: all 0.25s linear;
    border: 0.125px solid rgba(0,0,0,0.05);
    text-align: left;
    background: #efefef;
    margin: 0px;
    padding: 0px;
    user-select: none;
    font-family: 'Oxygen';
}

.accordion-label:hover {
    background: #e0e0e0;
}

.accordion-label:active {
    background: #d0d0d0;
}

.accordion-label:before {
    content: '\02795 \00a0';
    margin-left: 5px;
}

.accordion-label.active:before {
    content: '\2796 \00a0';
}

.accordion-content {
    transition: all 0.5s linear;
}

/**************/
/* Bar Charts */
/**************/

.container-center {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-family: sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
}

.testing-accuracy-bar-chart-container {
    width: 60vw;
    height: 80vh;
}

.best-results-bar-chart-container {
    width: 80vw;
    height: 80vh;
}
